
<%- include('header'); -%>
<body>
    <h1>Login</h1>

    <form action="/main" method="POST">
        <% if (error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>

    <%- include('footer'); -%>