
<%- include('header'); -%>
<main>
    <h2>Welcome to the Secret Page, <%= user.username %>!</h2>
    <p>This is a special page with secret content that only authorized users can access.</p>
</main>
<form action="/logout" class="logout-form" method="POST">
    <input type="submit" value="Logout">
</form>

<%- include('footer'); -%>